<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="InterpreteEspanol" class="beans.InterpreteEspanol"/>
	<bean id="InterpreteIngles" class="beans.InterpreteIngles"/>
	
	<bean id="traductorEspanol" class="beans.Traductor">
		<property name="interprete" ref="InterpreteEspanol"/>
		<property name="nombre" value="Carlos Esparza"/>
	</bean>
	
	<bean id="traductorIngles" class="beans.Traductor">
		<property name="interprete" ref="InterpreteIngles"/>
		<property name="nombre" value="Lourdes Peña"/>
	</bean>
</beans>
